/* You can add global styles to this file, and also import other style files */
$main: #353537;

.bg-main {
    background-color: $main
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #ECD2A2;
}

button {
    cursor: pointer;
}

section {
    min-height: 600px;
}